<footer>
        <a href="https://webpages.charlotte.edu/eblanch1/" target="_blank">UNCC Webspace</a> |
        <a href="https://github.com/Eric-Blan" target="_blank">GitHub</a> |
        <a href="https://eric-blan.github.io" target="_blank">GitHub.io</a> |
        <a href="https://eric-blan.github.io/itis3135/" target="_blank">GitHub.io ITIS3135</a> |
        <a href="https://www.freecodecamp.org/eric_blanchard" target="_blank">FreeCodeCamp</a> |
        <a href="https://www.codecademy.com/profiles/EricBlanchard" target="_blank">Codecademy</a> |
        <a href="https://www.linkedin.com/in/eric-blanchard-4a3771352/" target="_blank">LinkedIn</a>
        <p>Designed by <a href="blanchardindustries.org/index.html" target="_blank">Blanchard Industries ©2026</a></p>
        <p><a href="https://validator.w3.org/check?uri=https://eric-blan.github.io/itis3135/about.html">HTML Validator | </a><a href="https://jigsaw.w3.org/css-validator/validator?uri=https://eric-blan.github.io/itis3135/about.html">CSS Validator</a></p>    
    </footer>